
// icons
$small-icon-size: 1.8rem;
$medium-icon-size: 2.2rem;
$large-icon-size: 3.1rem;

// canvas
$canvas-background-color: #b3c1cc;
$active-widget-border-color:rgb(255, 255, 255);

// sidebar
$sidebar-color: rgba(214, 214, 214, 0.979);
$sidebar-background-color: #323232;
$sidebar-icon-background-color: #2b2b2b;
$sidebar-icon-background-color-hover: rgba(160, 154, 154, 0.2);
$sidebar-icon-color-primary: #fbc832;
$sidebar-danger: #f11a1a;
